<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [9]:
import pandas as pd

Load the dataset into a dataframe.

In [10]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [11]:
# your code goes here
df.duplicated().sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [13]:
# your code goes here

df.drop_duplicates()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11547,25136,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,36.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Difficult
11548,25137,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Poland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Tech...,25.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
11549,25138,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,34.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
11550,25141,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Switzerland,No,"Secondary school (e.g. American high school, G...",NaN,...,Somewhat less welcome now than last year,NaN,25.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
11551,25142,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","A natural science (ex. biology, chemistry, phy...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,30.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Easy

Verify if duplicates were actually dropped.

In [15]:
# your code goes here
df.duplicated(subset='Respondent').sum()

154

## Finding Missing values

Find the missing values for all columns.

In [17]:
# your code goes here
df.isnull().sum(axis=0)

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       547
Ethnicity       683
Dependents      144
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [25]:
# your code goes here
Country = df["Country"]
Country.isnull().sum()

0

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [38]:
# your code goes here
df.groupby("WorkLoc").sum()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
WorkLoc,,,,,,
Home,45495351,2.318041e+09,457252876.0,148382.5,13383.09,113226.0
Office,84626407,5.131119e+09,835031991.0,289675.5,25860.19,203671.3
"Other place, such as a coworking space or cafe",12269698,5.993626e+08,114653754.0,40812.5,3847.50,28397.0

In [43]:
df.groupby("UndergradMajor").sum()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
UndergradMajor,,,,,,
"A business discipline (ex. accounting, finance, marketing)",3227030,1.067806e+08,34781802.0,10335.50,858.00,7848.0
"A health science (ex. nursing, pharmacy, radiology)",350800,1.605863e+06,3508083.0,991.50,92.00,755.0
"A humanities discipline (ex. literature, history, philosophy)",2554857,8.717190e+07,43126825.0,8479.20,643.55,6872.5
"A natural science (ex. biology, chemistry, physics)",5069952,9.682206e+07,57407859.0,17068.75,1290.50,13667.0
"A social science (ex. anthropology, psychology, political science)",2733536,9.398612e+07,39227674.0,8642.00,607.50,6645.0
"Another engineering discipline (ex. civil, electrical, mechanical)",10136459,5.505523e+08,82577209.0,32314.75,2676.32,24810.0
"Computer science, computer engineering, or software engineering",86817253,5.427134e+09,860125120.0,292384.55,27537.04,207687.5
"Fine arts or performing arts (ex. graphic design, music, studio art)",1989929,2.468771e+07,26053130.0,6481.00,495.01,5341.0
I never declared a major,1492656,2.897871e+07,13678443.0,5312.50,398.10,3975.0
"Information systems, information technology, or system administration",9945371,9.986026e+08,86191428.0,35495.75,2868.00,24387.0
Mathematics or statistics,4481839,1.472484e+08,48896728.0,15773.50,1384.50,11894.8
Web development or web design,4960087,8.870482e+07,41008547.0,16271.50,1868.25,11706.0

Identify the value that is most frequent (majority) in the WorkLoc column.

In [37]:
#make a note of the majority value here, for future reference
#

df.groupby("WorkLoc")["Respondent"].sum()

WorkLoc
Home                                              45495351
Office                                            84626407
Other place, such as a coworking space or cafe    12269698
Name: Respondent, dtype: int64

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [40]:
# your code goes here

df['WorkLoc'].fillna("Office", inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [41]:
# your code goes here

WorkLoc.isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [13]:
# your code goes here

df.groupby("CompFreq").sum()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
CompFreq,,,,,,
Monthly,60860345,5.008358e+09,586991188.0,203792.95,18945.40,138492.5
Weekly,4066499,4.058859e+07,315115000.0,12725.00,1080.85,9697.5
Yearly,75295957,2.995949e+09,507107659.0,257043.05,22299.53,192056.3

In [50]:
df.drop_duplicates(inplace=True)
df.groupby("CompFreq").count()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
CompFreq,,,,,,,,,,,,,,,,,,,,,
Monthly,4788,4788,4788,4788,4745,4788,4788,4753,4729,4390,...,4745,4102,4668,4753,4720,4507,4427,4717,4780,4782
Weekly,331,331,331,331,330,331,331,331,328,299,...,329,273,318,330,328,322,319,328,331,331
Yearly,6073,6073,6073,6073,6038,6073,6073,6060,6025,5776,...,6033,4865,5929,6036,6021,5826,5780,6010,6062,6065

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [6]:
# your code goes here

# df['CompTotal'].fillna(df['CompTotal'].median(), inplace=True)

# NormalizedAnnualCompensation = []

# for row in df['CompFreq']:
   # if   row == "Yearly" : NormalizedAnnualCompensation.append(df["CompTotal"])
   # elif row == "Monthly": NormalizedAnnualCompensation.append(df["CompTotal"]*12)
   # elif row == "Weekly": NormalizedAnnualCompensation.append(df["CompTotal"]*52)
    
# print(NormalizedAnnualCompensation[0:5])

import numpy as np

SyntaxError: invalid syntax (2885457310.py, line 18)

In [18]:
df["NormalizedAnnualCompensation"] = np.where(
    df['Compfreq'] == "Weekly", df['CompTotal']*52, np.where(
    df['Compfreq'] == "Monthly", df['CompTotal']*12, df['CompTotal']))
df.head()

KeyError: 'Compfreq'

In [73]:
df['CompTotal'].fillna(df['CompTotal'].median(), inplace=True)
df['CompTotal'].isnull().sum()

0

In [74]:
df["NormalizedAnnualCompensation"] = NormalizedAnnualCompensation
df.head()

ValueError: Length of values (11192) does not match length of index (11398)

In [70]:
dfNAC = pd.DataFrame(NormalizedAnnualCompensation)
dfNAC.head()

,0,1,2,3,4,5,6,7,8,9,...,11542,11543,11544,11545,11546,11547,11548,11549,11550,11551
CompTotal,61000.0,138000.0,90000.0,29000.0,90000.0,9500.0,3000.0,103000.0,69000.0,8000.0,...,552000.0,31000.0,1900000.0,5000.0,800.0,130000.0,74400.0,105000.0,80000.0,65000.0
CompTotal,61000.0,138000.0,90000.0,29000.0,90000.0,9500.0,3000.0,103000.0,69000.0,8000.0,...,552000.0,31000.0,1900000.0,5000.0,800.0,130000.0,74400.0,105000.0,80000.0,65000.0
CompTotal,61000.0,138000.0,90000.0,29000.0,90000.0,9500.0,3000.0,103000.0,69000.0,8000.0,...,552000.0,31000.0,1900000.0,5000.0,800.0,130000.0,74400.0,105000.0,80000.0,65000.0
CompTotal,732000.0,1656000.0,1080000.0,348000.0,1080000.0,114000.0,36000.0,1236000.0,828000.0,96000.0,...,6624000.0,372000.0,22800000.0,60000.0,9600.0,1560000.0,892800.0,1260000.0,960000.0,780000.0
CompTotal,61000.0,138000.0,90000.0,29000.0,90000.0,9500.0,3000.0,103000.0,69000.0,8000.0,...,552000.0,31000.0,1900000.0,5000.0,800.0,130000.0,74400.0,105000.0,80000.0,65000.0

In [75]:
df.shape

(11398, 85)

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).